* @bltpzdc @gamatacy

/frontend/ @savikin @gamatacy @JenDenver

/backend/ @bltpzdc @metametamoon @JenDenver

/.gitignore @savikin @gamatacy @JenDenver @bltpzdc @metametamoon

/.github/ @bltpzdc @gamatacy
/compose.yml @bltpzdc @gamatacy

/LICENSE @bltpzdc @gamatacy
/README.md @bltpzdc @gamatacy
/docs/ @bltpzdc @gamatacy
